h1
{
text-align:center;
font-size:50px;
color:white;
background-color:black;
}
#numbers
{
border-style:solid;
border-color:black;
background-color:teal;
color:black;
}
#btn1
{
position:relative;
left:0px;
background-color:red;
width: 100px;
    height: 30px;
    font-size: 18px;
    padding: 1px;
}
#btn2
{
position:relative;
left:0px;
background-color:green;
    width: 100px;
    height: 30px;
    font-size: 18px;
    padding: 1px;
}
#strings
{
border-style:solid;
border-color:black;
background-color:rebeccapurple;
color:black;
}
#id1
{
text-align:center;
color:solid black;
font-size:30px;
font-style:italic;
}
#id2
{
text-align:center;
color:solid black;
font-size:30px;
font-style:italic;
}
label
{
display:inline-block;
}
#para
{
    font-size: 20px;
    font-style: italic;
    font-family: monospace;
}